.userContainer {
    width: 180px;
    height: 250px;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
    margin-bottom: 20px;
}

.descContainer {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    color: #4c4c4c;
    text-decoration: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 2rem;
}

.status {
    font-size: 14px;
    color: #6d6b6b;
    text-decoration: none;
    font-weight: 600;
}