.nav {
    grid-area: n;
    background-color: #F9FBFC;
    padding: 20px;
    border-radius: 0 0 0 20px;
}

.photo {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}