.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px #dcdade;
    padding: 30px;
    margin-bottom: 30px;
}

.button {
    color: #ffffff;
    background: #104f9e;
    font-weight: 600;
    border: 1px solid #104f9e;
    border-radius: 12px;
    padding: 10px 15px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    cursor: pointer;
}

.input {
    border: 0;
    margin: 0;
    color: #4c4c4c;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #104f9e;
}
.input:hover, .input:focus{
    outline: none;
}
