
.loginContainer{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    margin-bottom: 30px;
    width: 100%;
}
