.dialogs {
    display: grid;
    grid-template-columns: 2fr 7fr 5fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}
.button{
    margin-top: 10px;
}